<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>customer Management </title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>customer Management </h1>
  <hr>
  <h2>add reivew</h2>

  <form action="#" th:action="@{/user/allorder/addreview/save}" th:object="${reviewDto}"
        method="POST">
    <input type="hidden" th:field="*{user}" placeholder="user " class="form-control mb-4 col-4">
    <input type="text" th:field="*{ratings}" placeholder="rating" class="form-control mb-4 col-4">
    <input type="text" th:field="*{description}" placeholder="description" class="form-control mb-4 col-4">
    <input type="hidden" th:field="*{product}" placeholder="product" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2">Save
      customer</button>
  </form>

  <hr>

  <a th:href="@{/admin/allOrder}"> Back to order list</a>
</div>
</body>
</html>
