<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">Ecommerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a th:href="@{/user/home}">Home</a></li>
      <li><a th:href="@{/user/cart}">Cart</a></li>
      <li><a th:href="@{/user/allOrder}">Order</a></li>
      <li><a th:href="@{/user/Categories}">Categories</a></li>
    </ul>
    <ul class="nav navbar-v navbar-right">
      <li><a th:href="@{/user/home}">Logout</a></li>
    </ul>
  </div>
</nav>
<body>
<div class="container">
  <h1>customer Management </h1>
  <hr>
  <h2>add reivew</h2>

  <form action="#" th:action="@{/user/allorder/addreview/save/{id}(id=${reviewDto.getProduct().getProductId()})}" th:object="${reviewDto}"
        method="POST">
    <input type="text" th:field="*{ratings}" placeholder="rating" class="form-control mb-4 col-4">
    <input type="text" th:field="*{description}" placeholder="description" class="form-control mb-4 col-4">
<!--    <input  th:field="*{product}" placeholder="product" class="form-control mb-4 col-4">-->

    <button type="submit" class="btn btn-info col-2">Save
      customer</button>
  </form>

  <hr>

  <a th:href="@{/user/allOrder}"> Back to order list</a>
</div>
</body>
</html>
