<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Ecommerce</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/user/home}">Home</a></li>
            <li><a th:href="@{/user/cart}">Cart</a></li>
            <li><a th:href="@{/user/allOrder}">Order</a></li>
            <li><a th:href="@{/user/Categories}">Categories</a></li>
        </ul>
    </div>
</nav>
<body>
<h2>Cart</h2>
<a th:href="@{/user/placeorder}" ><button type="button" class="btn btn-primary btn-sm">Place Order</button></a>

<div>
<table>
       <tr th:each="cartItemsList:${cart}">
           <td th:text="${cartItemsList.getProduct().getProductName()}"></td>
           <td th:text="${cartItemsList.getQuantity()}"></td>
           <td th:text="${cartItemsList.getProduct().getProductPrice()}"></td>
           <td> <a th:href="@{/user/cart/update{id} (id=${cartItemsList.getId()})}"><button type="button" class="btn btn-primary" aria-label="update">Update</button></a></td>
           <td> <a th:href="@{/user/cart/delete{id}(id=${cartItemsList.getId()})}"><button type="button" class="btn btn-primary" aria-label="Delete">Delete</button></a></td>
       </tr>
Cart Value =    <a th:text="${cartValue}"></a>



</table>



</div>



</form>
</body>
</html>