<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Ecommerce</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/user/home}">Home</a></li>
            <li><a th:href="@{/user/cart}">Cart</a></li>
            <li><a th:href="@{/user/allOrder}">Order</a></li>
            <li><a th:href="@{/user/Categories}">Categories</a></li>
        </ul>
        <ul class="nav navbar-v navbar-right">
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>

    </div>
</nav>
<body>
<div class="container my-2" align="center">


    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Products Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="count : ${products}">
            <td><a th:href="@{/user/Product/{id}(id=${count.getProductId()})}" th:text="${count.getProductName()}"></a></td>
            <td th:text="${count.getProductPrice()}+Rs"></td>
        </tr>

        </tbody>
    </table>
    <h2> Welcome user
    </h2>
    <form th:action="@{/logout}" method="post" >
        <input type="submit" value="logout" />
    </form>
</div>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2> Welcome user-->
<!--</h2>-->
<!--<form th:action="@{/logout}" method="post" >-->
<!--    <input type="submit" value="logout" />-->
<!--</form>-->
<!--<form th:action="@{/user/Categories}"  >-->
<!--    <input type="submit" value="Show all Category" />-->
<!--</form>-->
<!--<form th:action="@{/user/cart}"  >-->
<!--    <input type="submit" value="Show cart" />-->
<!--</form>-->
<!--<form th:action="@{/user/allOrder}"  >-->
<!--    <input type="submit" value="Show order" />-->
<!--</form>-->

<!--</body>-->
<!--</html>-->