<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>SubCategory Management </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Product Management</h1>

    <h2>Product Category</h2>

    <form action="#" th:action="@{/admin/Product/save/{id}(id=${productDto.getProductCategory().getCategoryId()})}" th:object="${productDto}" method="POST">
        <input type="text" name="name" th:field="*{productName}"/>
        <input type="text" name="name" th:field="*{productDesc}"/>
        <input type="number" name="name" th:field="*{productPrice}"/>


        <button type="submit" class="btn btn-info col-2">Save
            Product</button>
    </form>

    <hr>

</div>
</body>
</html>





