<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>customer Management </title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Category Management </h1>
    <hr>
    <h2>Update Category</h2>

    <form action="#" th:action="@{/admin/Category/updated}" th:object="${updateCategory}"
          >

         Add hidden form field to handle update
        <input type="hidden" th:field="*{categoryId}" />

        <input type="text" th:field="*{categoryName}" class="form-control mb-4 col-4">

        <button type="submit"  > Update Category </button>
    </form>

    <hr>

    <a th:href = "@{/admin/Category}"> Back to Employee List</a>
</div>
</body>
</html>
