<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Ecommerce</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/user/home}">Home</a></li>
            <li><a th:href="@{/user/cart}">Cart</a></li>
            <li><a th:href="@{/user/allOrder}">Order</a></li>
            <li><a th:href="@{/user/Categories}">Categories</a></li>
        </ul>
    </div>
</nav>
<body>
<div class="container">
    <h1>Category Management </h1>
    <hr>
    <h2>Update Category</h2>

    <form action="#" th:action="@{/admin/Category/updated}" th:object="${updateCategory}"
          >

         Add hidden form field to handle update
        <input type="hidden" th:field="*{categoryId}" />

        <input type="text" th:field="*{categoryName}" class="form-control mb-4 col-4">

        <button type="submit"  > Update Category </button>
    </form>

    <hr>

    <a th:href = "@{/admin/Category}"> Back to Category List</a>
</div>
</body>
</html>
