<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Category Management </h1>
    <hr>
    <h2>Update Category</h2>

    <form action="#" th:action="@{/admin/Category/updated}" th:object="${updateCategory}"
          >

         Add hidden form field to handle update
        <input type="hidden" th:field="*{categoryId}" />

        <input type="text" th:field="*{categoryName}" class="form-control mb-4 col-4">

        <button type="submit"  > Update Category </button>
    </form>

    <hr>

    <a th:href = "@{/admin/Category}"> Back to Employee List</a>
</div>
</body>
</html>
